<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Web font -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>


        <!--end::Web font -->

        <!--begin::Global Theme Styles -->
        <link href="{{ asset('css/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />

        <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
        <link href="{{ asset('css/style.bundle.css') }}" rel="stylesheet" type="text/css" />

        <!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

        <!--end::Global Theme Styles -->

        <!--begin::Page Vendors Styles -->
        <link href="{{ asset('css/fullcalendar.bundle.css') }}" rel="stylesheet" type="text/css" />

        <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

        <!--end::Page Vendors Styles -->
{#        <link rel="shortcut icon" href="assets/demo/default/media/img/logo/favicon.ico" />#}

    </head>
    <body>
    <main role="main" class="container">
        {% block body %}{% endblock %}
    </main>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
        {% block javascripts %}
            <!-- begin::Quick Nav -->

            <!--begin::Global Theme Bundle -->
            <script src="{{asset('vendors.bundle.js')}}" type="text/javascript"></script>
            <script src="{{asset('scripts.bundle.js')}}" type="text/javascript"></script>

            <!--end::Global Theme Bundle -->

            <!--begin::Page Vendors -->
            <script src="{{asset('fullcalendar.bundle.js')}}" type="text/javascript"></script>

            <!--end::Page Vendors -->

            <!--begin::Page Scripts -->
            <script src="{{asset('dashboard.js')}}" type="text/javascript"></script>

            <!--end::Page Scripts -->
        {% endblock %}
    </body>
</html>
